// @import '_normalize.scss';
@import "_var.scss";
@import "_mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus-visible,
*:focus-within {
  outline: none;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "open_sans", sans-serif;
}
.hidden {
  @include hidden;
}
.visible {
  @include visible;
}
.container {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  margin-bottom: 32px;
  &__title {
    @include hidden;
  }
  &__top {
    background: $color-F6F6F6;
    min-height: 50px;
    // z-index: 150;
    .header__account {
      @include hidden;
      display: none;
    }
    .header__block-logo {
      @include hidden;
      display: none;
      width: calc(100% + 24px);
      height: 50px;
      background-color: $color-F7F7F7;
    }
  }
  &__flex {
    @include flex-row;
    // justify-content: space-between;
    min-height: inherit;
  }
  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / span 5;
  }
  &__select {
    @include flex-row;
    @include choice;
  }
  &__choice-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $color-333333;
  }
  &__choice {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  &__phone {
    @include linkReset;
    position: relative;
    margin-right: auto;
    margin-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-FF862F;
    padding: 2px 0 2px 20px;
    transition: color 0.1s ease-in;
    &::before {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: -2px;
      content: url(./images/svg/call.svg);
      // transition: content 0.3s ease-in;
    }
    &:hover {
      color: $color-FFBD59;
      &::before {
        content: url(./images/svg/call-hover.svg);
      }
    }
    &:focus-visible {
      background-color: $color-FFF5D1;
    }
    &:active {
      color: $color-BB370E;
      &::before {
        content: url(./images/svg/call-active.svg);
      }
    }
  }
  &__about {
    min-width: 56%;
  }
  &__list {
    @include listReset;
    @include flex-row;
    width: 100%;
  }
  &__link-about {
    @include linkReset;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-999999;
    padding: 0 10px;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    &:hover {
      color: $color-A65CF0;
    }
    &:focus {
      color: $color-7033AC;
      background-color: $color-EBD1FF;
    }
    &:active {
      color: $color-7033AC;
    }
  }
  &__main {
    padding: 32px 0;
    .header__grid {
      position: relative;
    }
    .header__account {
      display: none;
    }
  }
  &__burger {
    @include hidden;
    @include btnReset;
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url(./images/svg/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(0);
    transition: filter 0.2s ease-in;
    &:hover {
      filter: grayscale(100);
    }
    &:focus-visible {
      filter: grayscale(100);
    }
  }
  &__burger-cls {
    @include btnReset;
    width: 24px;
    height: 24px;
    background-image: url(./images/svg/exit-burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    filter: grayscale(0);
    transition: filter 0.2s ease-in;
    &:hover {
      filter: grayscale(100);
    }
    &:focus-visible {
      filter: grayscale(100);
    }
  }
  &__burger-menu {
    @include hidden;
    @include flex-column;
    display: none;
    justify-content: flex-start;
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    // min-height: 300px;
    padding: 34px 72px;
    padding-bottom: 60px;
    background-color: $color-FFFFFF;
    background-image: url(./images/svg/logo-burger.svg);
    background-repeat: no-repeat;
    background-position: right 72px bottom 60px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    z-index: 400;
    .header__menu {
      @include flex-column;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 150px;
    }
    .header__menu-item {
      margin-bottom: 20px;
    }
    .header__link {
      padding: 0;
      font-size: 18px;
      color: $color-7033AC;
    }
    .header__about {
      display: none;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 24px 32px;
      background-color: $color-F7F7F7;
      .header__list {
        flex-wrap: wrap;
      }
      .header__item {
        margin-bottom: 10px;
      }
      .header__item:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  .burger-active {
    @include visible;
    transform: translateY(0);
  }

  &__logo-link {
    @include linkReset;
  }
  &__logo {
    width: 187px;
  }
  &__menu {
    @include flex-row;
    @include listReset;
  }
  &__link {
    @include linkReset;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0 7px;
    color: $color-333333;
    background-color: transparent;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    &:hover {
      color: $color-A65CF0;
    }
    &:focus-visible {
      background-color: $color-EBD1FF;
    }
    &:active {
      color: $color-7033AC;
    }
  }
  &__account {
    @include flex-row;
    justify-content: flex-end;
  }
  &__user {
    @include btnReset;
    width: 26px;
    height: 28px;
    margin-right: 32px;
    border: 3px solid transparent;
    background-image: url(./images/svg/user_default.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 0.2s ease-in;

    &:hover {
      background-image: url(./images/svg/user_hover.svg);
    }
    &:focus-visible {
      outline: none;
      background-color: $color-C998FB;
      background-image: url(./images/svg/user_focus.svg);
    }
    &:active {
      background-image: url(./images/svg/user_active.svg);
    }
  }
  &__shopping-cart {
    @include btnReset;
    position: relative;
    width: 30px;
    height: 28px;
    background-image: url(./images/svg/shopping_cart_default.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 0.2s ease-in;

    &::before {
      position: absolute;
      content: "0";
      width: 12px;
      height: 13px;
      border: 2px solid transparent;
      top: 6px;
      left: -9px;
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      text-align: center;
      color: $color-FFFFFF;
      background-color: $color-FF862F;
      border-radius: 100%;
    }
    &:hover {
      background-image: url(./images/svg/shopping_cart_hover.svg);
    }
    &:focus-visible {
      outline: none;
      background-image: url(./images/svg/shopping_cart_focus.svg);
      &::after {
        position: absolute;
        content: "";
        background-color: $color-C998FB;
        width: 47px;
        height: 34px;
        top: -2px;
        left: -11px;
        z-index: -1;
      }
    }
    &:active {
      background-image: url(./images/svg/shopping_cart_active.svg);
    }
  }
}
.search {
  &__form {
    @include flex-row;
    width: 100%;
    height: 60px;
    margin-right: 120px;
    border-radius: 10px;
    overflow: visible;
  }
  &__input {
    @include input;
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
    padding: 0 32px 0 60px;
    background-image: url(./images/svg/search_default.svg);
    background-repeat: no-repeat;
    background-position: left 32px center;
    &:focus-within {
      background-image: url(./images/svg/search_active.svg);
    }
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__btn {
    @include btnReset;
    position: absolute;
    width: 32px;
    height: 32px;
    border: 2px solid $color-A65CF0;
    border-radius: 100%;
    right: 20px;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      top: 10px;
      left: 9px;
      border-top: 2px solid $color-A65CF0;
      border-right: 2px solid $color-A65CF0;
      transform: rotate(45deg);
    }
  }
  &__choice {
    @include choice;
    @include flex-row;
    height: 100%;
    width: 300px !important;
  }
  &__choice .itc-select__toggle {
    width: 300px !important;
    border: 2px solid $color-F6F6F6;
    border-radius: 0 10px 10px 0;
    padding: 0 32px;
  }
  &__choice .itc-select__options {
    column-count: 2;
  }
  &__choice .itc-select__dropdown {
    border-radius: 10px;
    top: 97%;
    padding: 0 20px;
    z-index: 120;
  }
}

.hero {
  // pa: $mbBlock;
  &__swiper {
    // min-height: 400px;
    width: 100%;
  }
  &__swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: $color-333333;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
  }
  &__container {
    @include flex-column;
    min-height: 400px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__slide {
    height: 100%;
    padding: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    &_1 {
      background-image: url(./images/hero_1920-1.jpg);
    }
    &_2 {
      background-image: url(./images/hero_1920-2.jpg);
    }
    &_3 {
      background-image: url(./images/hero_1920-3.jpg);
    }
    &_3 .hero__title {
      width: 50%;
      color: $color-FFFFFF;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 30px;
    max-width: 570px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $color-999999;
  }
  &__btn {
    @include btnReset;
    @include btnAction;
    min-width: 187px;
    margin-top: auto;
  }
}
.sales {
  padding-top: $mbBlock;
  &__container {
    position: relative;
  }
  &__title {
    @include sectionTilte;
  }
  // &__swiper {
  //   // height: 511px;
  // }
  &__wrapper {
    height: 100%;
    width: 100%;
  }
  &__item {
    @include flex-column;
    align-items: flex-start;
    position: relative;
    min-height: 511px;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: $color-F7F7F7;
  }

  &__slide {
    // width: 296px !important;
    width: calc(25% - 16px) !important;
    height: auto;
    // margin-right: 32px;
    &_1 .sales__img {
      background-image: url(./images/special-1920-X24.png);
    }
    &_2 .sales__img {
      background-image: url(./images/special-1920-Z44.png);
    }
    &_2 {
      width: calc(50% - 32px) !important;
      max-width: 624px;
    }
    &_2 .sales__item {
      background-image: url(./images/special-1920-Z44-exp.png);
      background-repeat: no-repeat;
      background-position: right 20px bottom 20px;
    }
    &_3 .sales__img {
      background-image: url(./images/special-1920-Qyartz23.png);
    }
    &_4 .sales__img {
      background-image: url(./images/special-1920-Dear.png);
    }
    &_5 .sales__img {
      background-image: url(./images/special-1920-Z85.png);
    }
    &_5 {
      width: calc(50% - 32px) !important;
      max-width: 624px;
    }
    &_5 .sales__item {
      background-image: url(./images/special-1920-Z85-exp.png);
      background-repeat: no-repeat;
      background-position: right 20px bottom 20px;
    }
    &_6 .sales__img {
      background-image: url(./images/special-1920-H18.png);
    }
  }

  &__sale {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    top: 30px;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: $color-FFFFFF;
    background-color: $color-FF862F;
    &::after {
      position: absolute;
      content: "";
      right: -28px;
      width: 0;
      height: 0;
      border: 16px solid transparent;
      border-left: 12px solid $color-FF862F;
    }
  }
  &__item-title {
    @include goodTitle;
    &_partNumber {
      margin-bottom: 23px;
    }
  }
  &__img {
    height: 265px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 15px;
  }
  &__block-price {
    margin-bottom: 23px;
  }
  &__new-price {
    display: inline-block;
    margin-right: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: $color-FF862F;
  }
  &__price {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: $color-999999;
  }
  &__btn {
    @include btnReset;
    @include btnBye;
    margin-top: auto;
  }
  &__btn-block {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 77px;
    height: 32px;
    top: 0;
    right: 30px;
  }
}
.swiper-button-prev {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  // right: 0;
  border-radius: 100%;
  border: 2px solid $color-A65CF0;
}
.swiper-button-prev::after {
  position: absolute;
  content: "";
  left: 37%;
  width: 9px;
  height: 9px;
  border-top: 2px solid $color-A65CF0;
  border-right: 2px solid $color-A65CF0;
  transform: rotate(-135deg);
}
.swiper-button-next {
  width: 32px;
  height: 32px;
  // left: 0;
  right: 0;
  border-radius: 100%;
  border: 2px solid $color-A65CF0;
}
.swiper-button-next::after {
  position: absolute;
  content: "";
  left: 25%;
  width: 9px;
  height: 9px;
  border-top: 2px solid $color-A65CF0;
  border-right: 2px solid $color-A65CF0;
  transform: rotate(45deg);
}
.goods {
  padding-top: $mbBlock;
  padding-bottom: $mbBlock;
  &__title {
    @include sectionTilte;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: 420px;
    gap: 32px;
  }
  &__item {
    @include flex-column;
    align-items: flex-start;
    // max-width: 296px;
    min-height: 420px;
    padding: 30px;
    border-radius: 10px;
    background-color: $color-F7F7F7;
  }
  &__item-title {
    @include goodTitle;
    &_partNumber {
      margin-bottom: 23px;
    }
  }
  &__rating {
    position: relative;
    padding-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-FF862F;
    &::before {
      position: absolute;
      left: 0;
      content: url(./images/svg/star.svg);
    }
  }
  &__img {
    width: 100%;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 20px;
  }
  &__item#R-94 .goods__img {
    background-image: url(./images/sofa-1920-R94.png);
  }
  &__item#T-75 .goods__img {
    background-image: url(./images/sofa-1920-T75.png);
  }
  &__item#D-31 .goods__img {
    background-image: url(./images/sofa-1920-D31.png);
  }
  &__item#Y-68 .goods__img {
    background-image: url(./images/sofa-1920-Y68.png);
  }
  &__item#W-95 .goods__img {
    background-image: url(./images/sofa-1920-W95.png);
  }
  &__item#G-41 .goods__img {
    background-image: url(./images/sofa-1920-G41.png);
  }
  &__item#V-43 .goods__img {
    background-image: url(./images/sofa-1920-V43.png);
  }
  &__item#S-99 .goods__img {
    background-image: url(./images/sofa-1920-S99.png);
  }
  &__item#F-85 .goods__img {
    background-image: url(./images/sofa-1920-F85.png);
  }
  &__item#H-64 .goods__img {
    background-image: url(./images/sofa-1920-H64.png);
  }
  &__item#H-58 .goods__img {
    background-image: url(./images/sofa-1920-H58.png);
  }
  &__item#R-43 .goods__img {
    background-image: url(./images/sofa-1920-R43.png);
  }
  &__item#C-42 .goods__img {
    background-image: url(./images/sofa-1920-C42.png);
  }
  &__item#U-58 .goods__img {
    background-image: url(./images/sofa-1920-U58.png);
  }
  &__item#F-41 .goods__img {
    background-image: url(./images/sofa-1920-F41.png);
  }
  &__item#R-85 .goods__img {
    background-image: url(./images/sofa-1920-R85.png);
  }
  &__item#S-44 .goods__img {
    background-image: url(./images/sofa-1920-S44.png);
  }
  &__item#C-80 .goods__img {
    background-image: url(./images/sofa-1920-C80.png);
  }
  &__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-999999;
    margin-bottom: 24px;
  }
  &__btn {
    @include btnReset;
    text-decoration: none;
    @include btnBye;
    margin-top: auto;
  }
  &__btn-more {
    @include btnReset;
    @include btnAction;
    display: block;
    margin: auto;
    padding: 20px 35px;
    margin-top: 32px;
  }
}
.banner {
  width: 100%;
  min-height: 600px;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/banner-1920.jpg);
  &__title {
    font-family: "playfair_displayblack", "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: $color-D5B986;
  }
  &__descr {
    width: 50%;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $color-FFFFFF;
  }
  &__btn {
    @include btnReset;
    @include btnAction;
  }
}
.top-category {
  padding-top: $mbBlock;
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    // grid-auto-rows: 511px;
    gap: 32px;
  }
  &__title {
    @include sectionTilte;
  }
  &__block {
    display: flex;
    position: relative;
    margin-bottom: 30px;
  }
  &__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $color-333333;
  }
  &__sub-group {
    display: flex;
    margin-bottom: 14px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-999999;
    margin-right: 30px;
  }
  &__img {
    width: 100%;
    height: 202px;
    margin-left: -30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    margin-bottom: 30px;
  }
  &__link {
    @include linkReset;
    position: relative;
    // margin-right: 5px;
    margin-top: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $color-A65CF0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in;
    &::after {
      position: absolute;
      content: "";
      left: 108%;
      width: 22px;
      height: 22px;
      background-color: transparent;
      border: 2px solid $color-A65CF0;
      border-radius: 100%;
      transition: background 0.2s ease-in, border 0.2s ease-in;
    }
    &::before {
      position: absolute;
      content: "";
      left: 118%;
      top: 48%;
      width: 5px;
      height: 5px;
      border-top: 2px solid $color-A65CF0;
      border-right: 2px solid $color-A65CF0;
      transform: rotate(45deg);
      transition: border 0.2s ease-in;
      z-index: 10;
    }
    &:hover {
      border-bottom: 2px solid $color-A65CF0;
      &::after {
        background-color: $color-A65CF0;
      }
      &::before {
        border-color: $color-FFFFFF;
      }
    }
    &:focus-visible {
      border-bottom: 2px solid $color-A65CF0;
      &::after {
        background-color: $color-C998FB;
      }
      &::before {
        border-color: $color-FFFFFF;
      }
    }
    &:active {
      border-bottom: 2px solid $color-A65CF0;
      color: $color-7033AC;
      &::after {
        border-color: $color-7033AC;
        background-color: $color-7033AC;
      }
      &::before {
        border-color: $color-FFFFFF;
      }
    }
    &_mobile {
      display: none;
      position: absolute;
      @include ghost;
      &:focus-visible {
        border-color: transparent;
      }
      &:hover {
        border-color: transparent;
      }
      &::after {
        top: 0;
        left: auto;
        right: -30px;
      }
      &::before {
        top: 50%;
        left: auto;
        right: -21px;
      }
    }
  }
  &__item {
    @include flex-column;
    align-items: flex-start;
    padding: 30px;
    background-color: $color-F7F7F7;
    border-radius: 10px;
    &_sofa {
      grid-column: 1 / span 6;
      grid-row: 1;
    }
    &_sofa .top-category__img {
      height: 308px;
      background-image: url(./images/category-1920-sofa.png);
    }
    &_armchair {
      grid-column: 7 / span 6;
      grid-row: 1;
    }
    &_armchair .top-category__img {
      height: 308px;
      background-image: url(./images/category-1920-armchair.png);
    }
    &_bed {
      grid-column: 1 / span 4;
      grid-row: 2;
    }
    &_sofa .top-category__link_mobile {
      &::after {
        top: 15%;
      }
    }
    &_bed .top-category__img {
      background-image: url(./images/category-1920-bed.png);
    }
    &_dresser {
      grid-column: 5 / span 4;
      grid-row: 2;
    }
    &_dresser .top-category__img {
      background-image: url(./images/category-1920-dresser.png);
    }
    &_chair {
      grid-column: 9 / span 4;
      grid-row: 2;
    }
    &_chair .top-category__img {
      background-image: url(./images/category-1920-chair.png);
    }
  }
}
.articles {
  padding-top: $mbBlock;
  &__container {
    position: relative;
  }
  &__title {
    @include sectionTilte;
  }
  &__swiper {
    width: 100%;
    min-height: 678px;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    background-color: $color-F7F7F7;
    &_1 .articles__img {
      background-image: url(./images/article-1920-1.jpg);
    }
    &_2 .articles__img {
      background-image: url(./images/article-1920-2.jpg);
    }
    &_3 .articles__img {
      background-image: url(./images/article-1920-3.jpg);
    }
    &_4 .articles__img {
      background-image: url(./images/article-1920-4.jpg);
    }
    &_5 .articles__img {
      background-image: url(./images/article-1920-5.jpg);
    }
  }
  &__img {
    width: 100%;
    min-height: 426px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  &__block {
    @include flex-column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 30px;
  }
  &__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $color-333333;
    margin-bottom: 38px;
  }
  &__link {
    @include linkReset;
    @include btnBye;
    margin-top: auto;
    padding: 16px 35px;
  }
  &__btn-block {
    position: absolute;
    top: 0;
    right: 30px;
    width: 77px;
    height: 32px;
  }
}
.callback {
  padding-top: $mbBlock;
  padding-bottom: $mbBlock;
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 32px;
  }
  &__block {
    &_1 {
      grid-column: 1 / span 6;
      @include flex-column;
    }
    &_2 {
      grid-column: 7 / span 6;
    }
  }
  &__img {
    height: 432px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(./images/market-1920.png);
  }
  &__title {
    @include sectionTilte;
    margin-bottom: 9px;
  }
  &__descr {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-999999;
    margin-bottom: 16px;
  }
  &__tooltip {
    @include btnReset;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./images/svg/tooltip_default.svg);
    &:active {
      background-image: url(./images/svg/tooltip_active.svg);
    }
  }

  &__tooltip[data-theme~="user"] {
    font-weight: 400;
    font-size: 24px;
    line-height: 14px;
    text-align: center;
    border-radius: 0;
    background-color: $color-333333;
    color: $color-FFFFFF;
  }
  &__form {
    @include flex-column;
  }
  &__area-input {
    position: relative;
  }
  &__input {
    @include input;
    width: 100%;
    height: 54px;
    padding: 0 18px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  &__input.is-invalid {
    border-color: $color-FF6972;
    &:focus-within {
      border-color: $color-FF6972;
    }
  }
  &__input.just-validate-success-field {
    border-color: $color-B8EC64;
    &:focus-within {
      border-color: $color-B8EC64;
    }
  }
  .just-validate-error-label {
    position: absolute;
    top: -16px;
    left: 16px;
    color: $color-FF6972 !important;
    font-weight: 400;
    font-size: 12px;
  }
  &__btn {
    @include btnReset;
    @include btnAction;
    align-self: flex-start;
    padding: 17px 30px;
    margin-bottom: 22px;
  }
  &__label {
    position: relative;
    padding-left: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-666666;
    transition: color 0.2s ease-in;
    cursor: pointer;
    &:hover {
      color: $color-A65CF0;
    }
  }
  &__checkbox {
    @include visually-hidden;
  }
  &__checkbox + .callback__check {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 3px;
    border: 1px solid $color-999999;
    border-radius: 2px;
    transition: border 0.2s ease-in, background 0.2s ease-in;
  }
  &__checkbox:focus-visible:not(:checked) + .callback__check {
    border-color: $color-A65CF0;
  }
  &__checkbox:focus-visible:checked + .callback__check {
    background: $color-C998FB;
  }

  &__checkbox:checked + .callback__check {
    border-color: $color-A65CF0;
    background: $color-A65CF0;
  }
  &__checkbox + .callback__check::before {
    position: absolute;
    content: url(./images/svg/check-agree.svg);
    top: -3px;
    left: 1px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  &__checkbox:checked + .callback__check::before {
    opacity: 1;
  }
  &__check {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-333333;
  }
  &__link {
    @include linkReset;
    font-size: 14px;
    line-height: 19px;
    color: $color-A65CF0;
    text-decoration: underline;
    transition: color 0.2s ease-in;
    &:hover {
      color: $color-C998FB;
    }
    &:focus-visible {
      color: $color-C998FB;
    }
    &:active {
      color: $color-7033AC;
    }
  }
}
.footer {
  &__top {
    background-color: $color-EAEAEA;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__logo {
    width: 187px;
    margin-bottom: 31px;
  }
  &__block-links {
    grid-column: 3 / span 6;
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__block {
    &_social {
      grid-column: 1 / span 2;
      @include flex-column;
      justify-content: space-between;
      .footer__item {
        position: relative;
        width: 30px;
        height: 30px;
      }
      .footer__link {
        position: absolute;
        font-size: initial;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
      }
      .footer__link svg path {
        transition: fill 0.3s ease-in;
      }
      .footer__link:hover svg path {
        fill: $color-A65CF0;
      }
      .footer__link:focus-visible svg path {
        fill: $color-FFFFFF;
      }
      .footer__link:focus-visible::after {
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        top: 3px;
        left: -3px;
        background-color: $color-C998FB;
        z-index: -1;
      }
      .footer__link:hover svg path {
        fill: $color-7033AC;
      }
    }
  }
  &__social {
    @include flex-row;
    @include listReset;
    width: 130px;
  }
  &__nav {
    @include listReset;
    @include flex-column;
    justify-content: flex-start;
  }
  &__link {
    @include linkReset;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: $color-999999;
    &:hover {
      color: $color-A65CF0;
    }
    &:focus-visible {
      background-color: $color-EBD1FF;
      color: $color-7033AC;
    }
    &:active {
      color: $color-7033AC;
    }
    &_main {
      font-weight: 400;
      font-size: 16px;
      color: $color-333333;
      &:focus-visible {
        color: $color-333333;
      }
    }
  }
  &__bottom {
    padding: 5px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-999999;
  }
}

// CATALOG

.catalog {
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
  }
  &__title {
    @include sectionTilte;
    display: inline-block;
    margin: 0;
    margin-right: 17px;
  }
  &__selected-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
  }
  &__selected-items {
    display: flex;
    flex-wrap: wrap;
    display: none;
  }
  &__selected-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $color-666666;
    padding: 7px 2px 7px 9px;
    border-radius: 3px;
    margin-bottom: 16px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:nth-child(1n) {
      background: $color-DAFFD1;
    }
    &:nth-child(2n) {
      background: $color-FFF5D1;
    }
    &:nth-child(3n) {
      background: $color-EBD1FF;
    }
    &:nth-child(4n) {
      background: $color-EAEAEA;
    }
  }

  &__selected-cls {
    @include btnReset;
    width: 24px;
    height: 24px;
  }
  &__sidebar {
    width: 296px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    padding-bottom: 134px;
    justify-content: space-between;
  }
  &__goods {
    padding: 0;
    grid-column: 4 / span 9;
    grid-row: 1 / span 3;
    padding-bottom: 70px;
  }
  .goods__grid {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
  }
  .bread-crumbs {
    &__list {
      @include listReset;
      @include flex-row;
      justify-content: flex-start;
      margin-bottom: 23px;
    }
    &__item:not(:last-child) {
      position: relative;
      margin-right: 15px;
    }
    &__item:not(:last-child)::after {
      position: absolute;
      content: "/";
      left: calc(100% + 6px);
      color: $color-999999;
    }
    &__item:last-child .bread-crumbs__link {
      color: $color-7033AC;
      &:focus-visible {
        color: $color-A65CF0;
      }
      &:hover {
        color: $color-C998FB;
      }
    }
    &__link {
      @include linkReset;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-999999;
      transition: color 0.2s ease-in;
      &:hover {
        color: $color-C998FB;
      }
      &:focus-visible {
        color: $color-A65CF0;
      }
    }
  }
  .filter {
    &__goods {
      display: none;
      margin-bottom: 16px;
    }
    &__block {
      width: 187px;
      margin-bottom: 16px;
    }
    &__select {
      position: relative;
      border: 2px solid $color-F7F7F7;
      z-index: 100;
      background: $color-F7F7F7;
      border-radius: 10px;
      overflow: hidden;
    }
    &__block button {
      @include btnReset;
      position: relative;
      margin: 0;
      outline: none;
      overflow: auto;
      width: 100%;
      height: 100%;
      text-align: start;
      border: none;
      padding: 9px 15px;
      background: $color-F7F7F7;
      transition: background 0.2s ease-in;
      &::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 40%;
        width: 8px;
        height: 8px;
        border-top: 1px solid $color-A65CF0;
        border-right: 1px solid $color-A65CF0;
        transform: rotate(135deg);
        transition: transform 0.2s ease-in, top 0.2s ease-in;
      }
      &:hover {
        background: $color-FFFFFF;
      }
      &:focus-visible {
        border: 2px solid $color-7033AC;
        border-radius: 10px;
      }
      // &::after,
      // &::before {
      //   display: none;
      // }
    }
    .selected {
      background: $color-FFFFFF;
      border: 2px solid $color-7033AC;
      z-index: 500;
      background-image: url();
      button {
        background: $color-FFFFFF;
        &::after {
          top: 45%;
          transform: rotate(-45deg);
        }
      }
    }
    &__overselect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 50;
    }
    &__dropdown {
      position: absolute;
      opacity: 0;
      height: 0;
      transform: scale(1, 0) translateY(-100%);
      visibility: hidden;
      width: 187px;
      margin-top: -10px;
      border: 1px solid $color-EAEAEA;
      border-radius: 0 0 10px 10px;
      background-color: $color-FFFFFF;
      padding: 30px 15px;
      transition: opacity 0.3s ease-in, height 0.3s ease-in, transform 0.2s ease;
      z-index: 300;
      &_visible {
        opacity: 1;
        visibility: visible;
        height: max-content;
        transform: scale(1, 1) translateY(0);
      }
      &_price {
        .price__inputs {
          flex-direction: column;
          align-items: flex-start;
        }
        .price__label:first-child {
          margin-bottom: 12px;
        }
      }
    }
    &__title {
      display: inline-block;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: $color-333333;
      margin-bottom: 20px;
    }
    &__subtitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: $color-666666;
      margin-bottom: 10px;
    }
    &__label {
      @include visually-hidden;
      position: relative;
      padding-left: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $color-666666;
      cursor: pointer;
      transition: color 0.2s ease-in;
      &:hover {
        color: $color-A65CF0;
      }
    }
    &__list {
      @include listReset;
    }
    &__item {
      margin-bottom: 10px;
    }
    &__input {
      @include visually-hidden;
    }
    &__input + .filter__check {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      border: 1px solid $color-999999;
      border-radius: 2px;
      transition: border 0.2s ease-in, background 0.2s ease-in;
    }
    &__input:checked + .filter__check {
      border-color: $color-A65CF0;
      background: $color-A65CF0;
    }
    &__input:focus-visible:not(:checked) + .filter__check {
      border-color: $color-A65CF0;
    }
    &__input:focus-visible:checked + .filter__check {
      background: $color-C998FB;
    }
    &__input + .filter__check::before {
      position: absolute;
      content: url(./images/svg/check.svg);
      left: 2px;
      top: -1px;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
    &__input:checked + .filter__check::before {
      opacity: 1;
    }
    &__category,
    &__sales,
    &__color {
      margin-bottom: 26px;
    }
    &__price {
      margin-bottom: 40px;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
  }
  &__btn {
    @include btnReset;
    width: 32px;
    height: 32px;
    border: 2px solid $color-A65CF0;
    border-radius: 10px;
    color: $color-A65CF0;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    background-color: transparent;
    transition: color 0.2s ease-in, background-color 0.2s ease-in,
      border 0.2s ease-in;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover {
      background-color: $color-A65CF0;
      color: $color-FFFFFF;
    }
    &:focus-visible {
      background-color: $color-C998FB;
      color: $color-FFFFFF;
    }
    &:active {
      color: $color-FFFFFF;
      border: $color-7033AC;
      background-color: $color-7033AC;
    }
  }
  .catalog__btn-active {
    color: $color-FFFFFF;
    border: $color-7033AC;
    background-color: $color-7033AC;
  }
  #catalog__btn_3 {
    display: none;
  }
  &__banner {
    border-radius: 10px;
    overflow: hidden;
    img {
      vertical-align: bottom;
    }
  }
  &__banner-block {
    padding: 30px;
    background-color: $color-333333;
  }
  &__banner-title {
    font-family: playfair_displayblack, "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #d5b986;
  }
  &__banner-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-999999;
    margin-bottom: 12px;
  }
}

// PRODUCT

.product {
  .bread-crumbs {
    &__list {
      @include listReset;
      @include flex-row;
      justify-content: flex-start;
      margin-bottom: 23px;
    }
    &__item:not(:last-child) {
      position: relative;
      margin-right: 15px;
    }
    &__item:not(:last-child)::after {
      position: absolute;
      content: "/";
      left: calc(100% + 6px);
      color: $color-999999;
    }
    &__item:last-child .bread-crumbs__link {
      color: $color-7033AC;
      &:focus-visible {
        color: $color-A65CF0;
      }
      &:hover {
        color: $color-C998FB;
      }
    }
    &__link {
      @include linkReset;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-999999;
      transition: color 0.2s ease-in;
      &:hover {
        color: $color-C998FB;
      }
      &:focus-visible {
        color: $color-A65CF0;
      }
    }
  }
  &__flex {
    width: 100%;
    display: flex;
  }
  &__block {
    width: 50%;
    min-height: 749px;
  }
  &__block_1 {
    // @include flex-column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 32px;
    .product__slider-thumbs {
      margin-bottom: 32px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  &__block_2 {
    @include flex-column;
    align-items: flex-start;
    padding: 32px 0 0;
  }
  &__block-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 332px;
    margin-bottom: 32px;
  }
  &__block_1 {
    .product__block-title {
      display: none;
    }
  }
  &__swiper-2 {
    img {
      width: 100%;
      padding: 16px 0;
      object-fit: contain;
      max-height: 245px;
    }
  }
  &__swiper-1 {
    padding: 10px;
    background-color: $color-F7F7F7;
    img {
      width: 100%;
      object-fit: contain;
      max-height: 61px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color-333333;
    margin-bottom: 8px;
  }
  &__descr {
    @include flex-column;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__name {
    margin-bottom: 5px;
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: $color-333333;
    margin-bottom: 32px;
  }
  &__img-exp {
    margin-top: auto;
    flex-grow: 1;
  }
  &__container {
    max-width: 1340px;
    padding: 0 30px;
    margin: auto;
  }
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }
  &__overlay_visible {
    visibility: visible;
  }
  &__modal {
    position: absolute;
    // left: 50%;
    top: 20%;
    display: block;
    max-width: 1280px;
    width: calc(100% - 64px);
    z-index: 300;
    visibility: hidden;
    background-color: $color-FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    transition: visiability 0.2s ease-in-out;
    .product__swiper-2 {
      padding: 50px;
      img {
        min-height: 418px;
      }
    }
    .product__swiper-1 {
      padding: 20px 50px;
      overflow: hidden;
      img {
        min-height: 126px;
      }
      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }
  }
  &__modal_bye {
    max-width: 624px;
    padding: 30px;
    left: calc(50% - 624px / 2);
    .callback__area-input {
      position: relative;
    }
    .just-validate-error-label {
      position: absolute;
      top: -20px;
      color: $color-FF6972 !important;
    }
  }
  &__modal-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: $color-333333;
    margin-bottom: 8px;
  }
  &__modal-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-333333;
    margin-bottom: 30px;
  }
  &__modal_callback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 624px;
    min-height: 442px;
    padding: 30px;
    left: calc(50% - 624px / 2);
    img {
      max-width: 172px;
      margin-bottom: 32px;
    }
    .product__title {
      font-weight: 400;
font-size: 32px;
line-height: 100%;
color: $color-333333;
    }
  }
  &__modal-cls {
    @include btnReset;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    z-index: 350;
  }
  &__modal_visible {
    visibility: visible;
  }
  &__subname {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $color-999999;
    margin-bottom: 21px;
  }
  &__price {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: $color-333333;
    margin-bottom: 21px;
  }
  &__btn-bye {
    @include btnReset;
    @include btnAction;
    margin-bottom: 12px;
  }
  &__btn-add-shopping-cart {
    @include btnReset;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $color-A65CF0;
    margin-left: 30px;
    // margin-bottom: 111px;
    transition: color 0.2s ease-in, background 0.2s ease-in;
    &:hover {
      color: $color-999999;
    }
    &:focus-visible {
      color: $color-7033AC;
      background-color: $color-EBD1FF;
    }
    &:active {
      color: $color-7033AC;
    }
  }
  &__list {
    @include listReset;
    @include flex-column;
    width: 100%;
  }
  .attribute {
    &__item {
      display: flex;
      justify-content: flex-start;
    }
    &__name {
      position: relative;
      width: 50%;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 6px;
        display: block;
        width: 100%;
        border-bottom: 1px dotted $color-999999;
      }
    }
    &__bg {
      position: relative;
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: $color-999999;
      padding-right: 2px;
      background-color: $color-FFFFFF;
    }
    &__value {
      width: 50%;
      padding-left: 2px;
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: $color-333333;
    }
    // &__dot {
    //   height: 1px;
    //   width: 70%;
    //   background: url(./images/svg/dot.svg);
    //   background-position: center bottom;
    // }
  }
  &__similar {
    position: relative;
    padding: 70px 0;
  }
  &__similar-block {
    display: flex;
    justify-content: space-between;
  }
  &__similar-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: $color-333333;
    margin-bottom: 24px;
  }
  &__btn-block {
    position: relative;
    height: 32px;
    width: 77px;
  }
}
