@media (max-width: 1200px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .header {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, auto);
    &__grid {
      grid-template-columns: repeat(9, 1fr);
    }
    &__top {
      .header__grid {
        grid-template-rows: 58px 50px;
      }
      grid-column: 1 / span 9;
      grid-row: 1 / span 2;
      .header__account {
        @include visible;
        display: flex;
        position: relative;
        grid-column: 9 / span 1;
        grid-row: 2;
      }
    }
    &__main {
      grid-column: 1 / span 9;
      grid-row: 3;
    }
    &__bottom {
      grid-column: 1 / span 9;
      grid-row: 4;
    }
    &__contact {
      grid-column: 1 / span 9;
    }
    // &__select {
    //   grid-column: 1 / span 2;
    //   grid-row: 1;
    // }
    &__phone {
      margin-left: auto;
      margin-right: 0;
    }
    &__about {
      grid-column: 1 / span 7;
      grid-row: 2;
    }
    &__link-about {
      padding: 0;
    }
    &__account {
      @include hidden;
    }
    &__nav {
      grid-column: 3 / span 7;
    }
  }
  .hero {
    &__slide_1 {
      background-image: url(./images/hero_1024-1.webp);
    }
    &__slide_2 {
      background-image: url(./images/hero_1024-2.webp);
    }
    &__slide_3 {
      background-image: url(./images/hero_1024-3.webp);
      .hero__title {
        width: 80%;
      }
    }
    &__btn {
      padding: 19px 35px;
    }
    &__title {
      width: 80%;
    }
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 25px;
  }
  .sales {
    &__slide {
      width: calc((100% - 64px) / 3) !important;
    }
    &__slide_2 .sales__item {
      background-image: none;
    }
    &__slide_5 .sales__item {
      background-image: none;
    }
    &__img {
      height: 256px;
    }
    &__btn-block {
      right: 36px;
    }
  }
  .goods {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .banner {
    background-image: url(./images/banner-1024.webp);
  }
  .top-category {
    &__img {
      height: 310px;
    }
    &__item {
      &_sofa {
        grid-column: 1 / span 8;
        grid-row: 1;
      }
      &_bed {
        grid-column: 9 / span 4;
        grid-row: 1;
        overflow: hidden;
      }
      &_armchair {
        grid-column: 5 / span 4;
        grid-row: 2;
      }
      &_dresser {
        grid-column: 1 / span 4;
        grid-row: 2;
      }
      &_chair {
        grid-column: 9 / span 4;
        grid-row: 2;
      }
      &_armchair {
        grid-column: 5 / span 4;
        grid-row: 2;
      }
      &_sofa .top-category__img {
        // height: 310px;
        background-image: url(./images/category-1024-sofa.webp);
      }
      &_bed .top-category__img {
        // height: 310px;
        width: calc(100% + 60px);
        background-image: url(./images/category-1024-bed.webp);
        background-size: cover;
      }
      &_armchair .top-category__img {
        // height: 310px;
        background-image: url(./images/category-1024-armchair.webp);
      }
      &_dresser .top-category__img {
        // height: 298px;
        background-image: url(./images/category-1024-dresser.webp);
      }
      &_chair .top-category__img {
        height: 298px;
        background-image: url(./images/category-1024-chair.webp);
      }
    }
  }
  .articles {
    &__img {
      min-height: 202px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 30px;
    }
    &__swiper {
      min-height: auto;
    }
    &__slide_1 .articles__img {
      background-image: url(./images/article-1024-1.webp);
    }
    &__slide_2 .articles__img {
      background-image: url(./images/article-1024-2.webp);
    }
    &__slide_3 .articles__img {
      background-image: url(./images/article-1024-3.webp);
    }
    &__slide_4 .articles__img {
      background-image: url(./images/article-1024-4.webp);
    }
    &__slide_5 .articles__img {
      background-image: url(./images/article-1024-5.webp);
    }
    &__btn-block {
      right: 36px;
    }
  }
  .callback {
    &__grid {
      grid-template-columns: repeat(9, 1fr);
    }
    &__block_1 {
      grid-column: 1 / span 4;
    }
    &__block_2 {
      grid-column: 5 / span 5;
    }
  }
  .catalog {
    &__sidebar {
      display: none;
    }
    &__grid {
      display: block;
    }
    &__goods {
      grid-column: 1 / span 12;
    }
    &__selected-title {
      position: relative;
      margin-bottom: 16px;
    }
    &__selected-items {
      display: flex;
      position: absolute;
      left: 170px;
    }
    .filter {
      width: 100%;
      &__title {
        margin-right: 43px;
      }
      &_goods {
        display: flex;
        justify-content: space-between;
      }
      &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // flex-wrap: wrap;
        width: 100%;
        z-index: 100;
      }
    }
  }
  .product {
    &__modal {
      .product__swiper-1 {
        .swiper-button-next {
          display: flex;
          right: 16px;
        }
        .swiper-button-prev {
          display: flex;
          left: 16px;
        }
      }
    }
    &__swiper-2 {
      img {
        max-height: 222px;
      }
    }
    &__block {
      min-height: 718px;
    }
    &__block-title {
      min-height: 222px;
      margin-bottom: 66px;
    }
  }
}
@media (max-width: 986px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
  }
  .header {
    grid-template-columns: repeat(6, 1fr);
    &__grid {
      grid-template-columns: repeat(6, 1fr);
    }
    &__top {
      grid-column: 1 / span 6;
      .header__account {
        @include hidden;
        display: none;
      }
    }
    &__main {
      grid-column: 1 / span 6;
      justify-items: center;
      .header__account {
        @include visible;
        display: flex;
        grid-column: 6 / span 1;
        grid-row: 1;
      }
    }
    &__bottom {
      grid-column: 1 / span 6;
    }
    &__select {
      grid-column: 1 / span 2;
    }
    &__phone {
      grid-column: 5 / span 2;
    }
    &__burger {
      @include visible;
      display: inline-block;
      grid-column: 1 / span 1;
    }
    &__logo-link {
      grid-column: 3 / span 2;
      grid-row: 1;
    }
    &__nav {
      display: none;
    }
    &__burger-menu {
      display: flex;
      .header__nav {
        display: block;
      }
    }
  }
  .hero {
    &__title {
      width: 100%;
    }
    &__slide_3 .hero__title {
      width: 100%;
    }
  }
  .sales {
    &__slide {
      width: calc((100% - 32px) / 2) !important;
    }
    &__btn-block {
      right: 72px;
    }
  }
  .goods {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .top-category {
    grid-template-rows: repeat(3, 511px);
    &__item {
      &_sofa {
        grid-column: 1 / span 12;
      }
      &_bed {
        grid-column: 1 / span 6;
        grid-row: 2;
      }
      &_chair {
        grid-column: 7 / span 6;
        grid-row: 2;
      }
      &_dresser {
        grid-column: 1 / span 6;
        grid-row: 3;
      }
      &_armchair {
        grid-column: 7 / span 6;
        grid-row: 3;
      }
    }
  }
  .banner {
    &__descr {
      width: 100%;
    }
  }
  .articles {
    &__btn-block {
      right: 72px;
    }
  }
  .callback {
    &__grid {
      grid-template-columns: repeat(6, 1fr);
    }
    &__block_1 {
      grid-column: 1 / span 4;
    }
    &__block_2 {
      grid-column: 5 / span 2;
    }
    &__img {
      background-image: url(./images/market-768.webp);
    }
  }
  .footer {
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      justify-items: stretch;
    }
    &__block_social {
      grid-column: 1 / span 4;
      grid-row: 1;
      flex-direction: row;
    }
    &__block-links {
      grid-column: 1 / span 6;
      grid-row: 2;
    }
    &__logo {
      margin-bottom: 25px;
    }
  }
  .catalog {
    .filter {
      flex-direction: column;
      // &__block:nth-child(2n) {
      //   margin-right: 0;
      // }
      &__form {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &__block:not(:last-child) {
        margin-right: 32px;
      }
      // &__block:nth-child(2n) {
      //   margin-right: 0;
      // }
    }
  }
  .product {
    &__flex {
      display: block;
    }
    &__block {
      width: 100%;
      min-height: max-content;
    }
    &__block_1 {
      .product__block-title {
        display: flex;
      }
    }
    &__block_2 {
      .product__block-title {
        display: none;
      }
    }
    &__block-title {
      min-height: max-content;
    }
  }
}
@media (max-width: 850px) {
  .catalog {
    #catalog__btn_3 {
      display: block;
    }
    .goods__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .product__block-title {
    margin-bottom: 78px;
  }
}
@media (max-width: 760px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header {
    &__burger-menu {
      padding: 34px 32px;
    }
  }
  .sales {
    &__btn-block {
      right: 32px;
    }
  }

  .articles {
    &__btn-block {
      right: 32px;
    }
  }
}
@media (max-width: 680px) {
  .header {
    &__top {
      .header__grid {
        grid-template-rows: auto;
      }
    }
    &__about {
      display: none;
    }
    &__choice {
      height: 60px;
      width: 100% !important;
    }
    &__choice .itc-select__toggle {
      width: 100% !important;
      border-radius: 10px;
    }
    &__burger-menu {
      padding-bottom: 92px;
      background-image: none;
      .header__about {
        display: block;
      }
    }
  }
  .search {
    &__form {
      @include flex-column;
      height: auto;
    }
    &__block {
      height: 60px;
      margin-bottom: 16px;
      // border-radius: 10px;
    }
    &__input {
      border-radius: 10px;
    }
  }
  .sales {
    &__btn-block {
      top: 105%;
      right: auto;
      left: calc(50% - 38.5px);
    }
  }
  .goods {
    &__img {
      max-height: 100px;
    }
  }
  .top-category {
    &__sub-group {
      flex-direction: column;
    }
    &__item_sofa {
      .top-category__sub-group {
        flex-direction: row;
      }
    }
    &__subtitle {
      margin-bottom: 5px;
    }
  }
  .footer__block:not(:last-child) {
    margin-right: 20px;
  }
  .articles {
    &__btn-block {
      top: 105%;
      right: auto;
      left: calc(50% - 38.5px);
    }
  }
  .product__modal {
    left: 30px;
    .product__swiper-2 {
      img {
        min-height: max-content;
      }
    }
  }
}
@media (max-width: 520px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header {
    // margin-bottom: 16px;
    &__burger-menu {
      height: calc(100vh - 128px);
      padding: 34px 12px;
      .header__menu {
        flex-wrap: nowrap;
        height: auto;
      }
      .header__about {
        padding: 24px 12px;
      }
    }
    &__main {
      padding: 5px 0;
      margin-bottom: 15px;
      border-top: 1px solid $color-F6F6F6;
      border-bottom: 1px solid $color-F6F6F6;
      .header__grid {
        display: flex;
        justify-content: space-between;
      }
      .header__account {
        position: initial;
      }
    }
    &__top {
      background: none;
      .header__grid {
        grid-template-rows: 50px auto;
      }
      .header__block-logo {
        position: relative;
        @include visible;
        display: flex;
        grid-column: 1 / span 6;
        grid-row: 1;
        align-self: center;
        justify-content: center;
        margin: 0;
        margin-left: -12px;
        &::after {
          position: absolute;
          content: "";
          width: max-content;
          height: 50px;
          background: $color-F7F7F7;
          z-index: -1;
        }
        .header__logo-link {
          display: flex;
          align-items: center;
        }
      }
    }
    &__logo-link {
      display: none;
    }
    &__contact {
      @include flex-column;
      align-items: flex-start;
      justify-self: start;
      grid-column: 1 / span 6;
      grid-row: 2;
      padding-bottom: 16px;
    }
    &__phone {
      margin: 0;
    }
    &__user {
      margin-right: 20px;
    }
    &__nav {
      overflow-y: auto;
    }
  }
  .search {
    &__input {
      margin-top: 10px;
    }
    &__btn {
      top: 19px;
    }
  }
  .hero {
    &__container {
      min-height: 210px;
      padding: 30px;
      align-items: stretch;
    }
    &__swiper {
      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
      }
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 10px;
      }
    }
    &__slide_1 {
      background-image: url(./images/hero_320-1.webp);
    }
    &__slide_2 {
      background-image: url(./images/hero_320-2.webp);
    }
    &__slide_3 {
      background-image: url(./images/hero_320-3.webp);
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
    }
  }
  .goods {
    &__title {
      font-size: 24px;
    }
    &__grid {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 16px;
    }
    &__item {
      min-height: 278px;
      padding: 16px;
    }
    &__item:nth-child(1n) {
      grid-column: 1 / span 3;
    }
    &__item:nth-child(2n) {
      grid-column: 4 / span 3;
    }
    &__item-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      &_partNumber {
        margin-bottom: 16px;
      }
    }
    &__price {
      margin-bottom: 16px;
    }
    &__img {
      height: 60px;
    }
    &__btn {
      padding: 10px 23px;
    }
    &__btn-more {
      padding: 20px 25px;
    }
  }
  .banner {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 210px;
    &__title {
      font-size: 24px;
      line-height: 120%;
    }
    &__descr {
      width: 80%;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
    &__btn {
      width: 100%;
    }
  }
  .top-category {
    &__title {
      font-size: 24px;
    }
    &__grid {
      grid-gap: 16px;
    }
    &__img {
      height: 104px;
      margin-left: -16px;
      margin-top: auto;
    }
    &__link {
      display: none;
      &::before {
        top: 52%;
      }
    }
    &__item {
      padding: 16px;
      &_sofa {
        .top-category__link::before {
          top: 48%;
        }
      }
      &_dresser {
        .top-category__link::before {
          top: 25%;
        }
      }
    }
    &__block {
      .top-category__link {
        display: block;
      }
    }
    &__item-title {
      font-size: 16px;
      line-height: 120%;
      display: inline;
      max-width: min-content;
    }
    &__item_chair {
      .top-category__img {
        height: 104px;
      }
    }
    &__item_armchair {
      .top-category__img {
        height: 104px;
      }
    }
    &__item_sofa {
      .top-category__sub-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .top-category__img {
        height: 212px;
      }
      .top-category__subtitle {
        font-size: 14px;
        margin-right: 0;
      }
      .top-category__item-title {
        font-size: 24px;
      }
    }
    &__subtitle {
      font-size: 10px;
    }
  }
  .articles {
    padding-bottom: 50px;
    &__title {
      font-size: 24px;
    }
    &__btn-block {
      right: 12px;
    }
  }

  .sales {
    padding-bottom: 45px;
    &__title {
      font-size: 24px;
    }
    &__slide {
      width: 100% !important;
    }
    &__btn-block {
      right: 12px;
    }
    &__block-price {
      margin-bottom: 0;
    }
  }
  .callback {
    &__title {
      font-size: 24px;
    }
    &__block_1 {
      grid-column: 1 / span 6;
    }
    &__block_2 {
      display: none;
    }
  }
  .footer {
    &__block {
      margin: 0;
    }
    &__block-links {
      display: grid;
      grid-row: 2 / span 2;
      grid-gap: 20px;
      flex-wrap: wrap;
    }
    &__block_social {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    &__block:nth-child(2n) {
      grid-row: 3;
    }
    &__block-links .footer-block:nth-child(1n) {
      grid-row: 2;
    }
  }
  .catalog {
    &__selected-items {
      display: none;
    }
    .filter__block {
      width: 140px;
    }
    .filter__dropdown {
      width: 140px;
      overflow: hidden;
    }
    .filter__title {
      font-size: 16px;
      margin-bottom: 14px;
    }
    .filter__label {
      font-size: 12px;
    }
    .filter__block:not(:last-child) {
      margin-right: 16px;
    }
    .filter__input + .filter__check::before {
      top: 3px;
    }
    &__bread-crumbs {
      display: none;
    }
    .goods__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .goods__item:nth-child(1n) {
      grid-column: 1 / span 1;
    }
    .goods__item:nth-child(2n) {
      grid-column: 2 / span 1;
    }
    .goods__img {
      margin-bottom: 10px;
    }
  }
  .product {
    .product__modal {
      left: 12px;
      right: 12px;
      width: calc(100% - 24px);
      min-width: 296px;
      padding: 30px 16px;
      &_callback {
        min-height: 216px;
        .product__title {
          font-size: 16px;
        }
      }
      &_swiper {
        padding: 0;
      }
      .product__swiper-2 {
        max-height: max-content;
        padding: 10px 30px;
        img {
          min-height: 104px;
          max-height: 150px;
        }
      }
      .product__swiper-1 {
        img {
          min-height: 90px;
        }
      }
    }
    &__modal-cls {
      top: 0;
      right: 0;
    }
    &__bread-crumbs {
      display: none;
    }
    &__swiper-2 {
      max-height: 146px;
      img {
        max-height: 133px;
      }
    }
    .attribute__item {
      flex-direction: column;
    }
    .attribute__bg {
      font-size: 10px;
    }
    .attribute__value {
      line-height: 130%;
      width: 100%;
      padding: 0;
    }
    .attribute__name::before {
      display: none;
    }
    &__modal-title {
      font-size: 24px;
    }
    &__price {
      font-size: 24px;
    }
    &__block_1 {
      .product__slider-thumbs {
        margin-bottom: 16px;
      }
      &__block-title {
        margin-bottom: 28px;
      }
    }
    &__btn-bye {
      margin-bottom: 7px;
    }
    &__desc {
      line-height: 200%;
    }
    &__similar {
      padding-top: 36px;
    }
  }
}
