/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.price {
    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $color-666666;
        margin-right: 10px;
    }
    &__input {
        border: none;
        border: 1px solid $color-999999;
        border-radius: 2px;
        height: 30px;
        padding: 0 13px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $color-666666;
        transition: border 0.2s ease-in, color 0.2s ease-in, background 0.2s ease-in;
        &:hover {
            border-color: $color-A65CF0;
        }
        &:focus-within {
            border-color: $color-A65CF0;
            background: $color-EBD1FF;
        }
    }
    .noUi-target {
        border: none;
        height: 3px;
        background: $color-EAEAEA;
        box-shadow: none;
    }
    .noUi-connect {
        background-color: $color-A65CF0;
    }
    .noUi-horizontal .noUi-handle {
        content: url(./images/svg/range.svg);
        width: 13px;
        height: 13px;
        top: 0;
        right: -6px;
        border: none;
        box-shadow: none;
        background: transparent;
        cursor: pointer;
        &:hover {
            filter: opacity(0.95);
        }
        &:focus-visible {
            filter: grayscale(100);
        }
    }
    .noUi-handle::before,
    .noUi-handle::after {
        display: none;
    }
}