$color-F6F6F6: #F6F6F6;
$color-A65CF0: #A65CF0;
$color-C998FB: #C998FB;
$color-7033AC: #7033AC;
$color-EAEAEA: #EAEAEA;
$color-EBD1FF: #EBD1FF;
$color-F8EFFF: #F8EFFF;
$color-333333: #333333;
$color-999999: #999999;
$color-FFFFFF: #FFFFFF;
$color-FF862F: #FF862F;
$color-FFBD59: #FFBD59;
$color-FFF5D1: #FFF5D1;
$color-BB370E: #BB370E;
$color-FF6972: #FF6972;
$color-B8EC64: #B8EC64;
$color-F6F6F6: #F6F6F6;
$color-F7F7F7: #F7F7F7;
$color-D5B986: #D5B986;
$mbBlock: 70px;
