<section class="articles" id="articles">
    <div class="container articles__container">
        <h2 class="articles__title">Полезное</h2>
        <div class="swiper articles__swiper" id="swiper3">
            <div class="swiper-wrapper articles__wrapper">
                <div class="swiper-slide articles__slide articles__slide_1">
                    <div class="articles__img"></div>
                    <div class="articles__block">
                        <p class="articles__descr">
                            И&nbsp;нет сомнений, что сделанные на&nbsp;базе
                            интернет-аналитики выводы представляют собой не&nbsp;что
                            иное?
                        </p>
                        <a class="articles__link" href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide articles__slide articles__slide_2">
                    <div class="articles__img"></div>
                    <div class="articles__block">
                        <p class="articles__descr">
                            Как принято считать, некоторые особенности приносят
                            несомненную пользу обществу?
                        </p>
                        <a class="articles__link" href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide articles__slide articles__slide_3">
                    <div class="articles__img"></div>
                    <div class="articles__block">
                        <p class="articles__descr">
                            Ясность нашей позиции очевидна: укрепление и&nbsp;развитие
                            внутренней структуры?
                        </p>
                        <a class="articles__link" href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide articles__slide articles__slide_4">
                    <div class="articles__img"></div>
                    <div class="articles__block">
                        <p class="articles__descr">
                            Прежде всего, консультация с&nbsp;широким активом однозначно
                            фиксирует необходимость распределения?
                        </p>
                        <a class="articles__link" href="#">Читать</a>
                    </div>
                </div>
                <div class="swiper-slide articles__slide articles__slide_5">
                    <div class="articles__img"></div>
                    <div class="articles__block">
                        <p class="articles__descr">
                            Как принято считать, некоторые особенности приносят
                            несомненную пользу обществу?
                        </p>
                        <a class="articles__link" href="#">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="articles__btn-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>