<section class="callback" id="callback">
    <div class="container callback__grid">
        <div class="callback__block callback__block_1">
            <h2 class="callback__title">Мы всегда вам рады!</h2>
            <span class="callback__descr">Безусловно, новая модель организационной деятельности
                в&nbsp;значительной степени обусловливает важность распределения
                внутренних резервов и&nbsp;ресурсов.<button class="callback__tooltip" id="tooltip" aria-label="Дополнительно"></button></span>
            <form class="callback__form" id="form" method="post">
                <div class="callback__area-input">
                    <input class="callback__input" id="name" type="text" name="name" placeholder="Как вас зовут?">
                </div>
                <div class="callback__area-input">
                    <input class="callback__input" id="phone" type="tel" name="phone" placeholder="Ваш телефон">
                </div>
                <div class="callback__area-input">
                    <input class="callback__input" id="mail" type="email" name="mail" placeholder="Ваш e-mail">
                </div>
                <button class="callback__btn" type="submit">Отправить</button>
                <div class="callback__area-input">
                    <label class="callback__label">
                        <input class="callback__checkbox" id="agree" type="checkbox" name="agree" checked>
                        <span class="callback__check"></span>
                        Принимаю
                        <a class="callback__link" href="#">пользовательское соглашение</a>
                    </label>
                </div>
            </form>
        </div>
        <div class="callback__block callback__block_2">
            <div class="callback__img"></div>
        </div>
    </div>
</section>