<aside class="catalog__sidebar">
    <div class="catalog__filter filter">
        <h2 class="filter__title">Фильтровать по:</h2>
        <form class="filter__form">
            <div class="filter__category">
                <h3 class="filter__subtitle">Категория</h3>
                <ul class="filter__list">
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Диваны">
                            <span class="filter__check"></span>
                            Диваны
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Кресла">
                            <span class="filter__check"></span>
                            Кресла
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Пуфы">
                            <span class="filter__check"></span>
                            Пуфы
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Кровати">
                            <span class="filter__check"></span>
                            Кровати
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Тумбы">
                            <span class="filter__check"></span>
                            Тумбы
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Комоды">
                            <span class="filter__check"></span>
                            Комоды
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Стулья">
                            <span class="filter__check"></span>
                            Стулья
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Столы">
                            <span class="filter__check"></span>
                            Столы
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Аксессуары">
                            <span class="filter__check"></span>
                            Аксессуары
                        </label>
                    </li>
                </ul>
            </div>
            <div class="filter__price price">
                <h3 class="filter__subtitle">Цена</h3>
                <div class="price__inputs">
                    <label class="price__label">
                        <span class="price__text">от</span>
                        <input type="number" name="min-price" id="min-price" class="price__input" min="500" max="299999">
                    </label>
                    <label class="price__label">
                        <span class="price__text">до</span>
                        <input type="number" name="max-price" id="max-price" class="price__input" min="500" max="299999">
                    </label>
                </div>
                <div class="price__slider" id="range-price"></div>
            </div>
            <div class="filter__sales">
                <h3 class="filter__subtitle">Скидка</h3>
                <ul class="filter__list">
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="more5000">
                            <span class="filter__check"></span>
                            Более 5 000
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="less5000">
                            <span class="filter__check"></span>
                            Менее 5 000
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="nomatter">
                            <span class="filter__check"></span>
                            Не важно
                        </label>
                    </li>
                </ul>
            </div>
            <div class="filter__color">
                <h3 class="filter__subtitle">Цвет</h3>
                <ul class="filter__list">
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Коричневый">
                            <span class="filter__check"></span>
                            Коричневый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Черный">
                            <span class="filter__check"></span>
                            Черный
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Бежевый">
                            <span class="filter__check"></span>
                            Бежевый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Серый">
                            <span class="filter__check"></span>
                            Серый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Белый">
                            <span class="filter__check"></span>
                            Белый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Синий">
                            <span class="filter__check"></span>
                            Синий
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Оранжевый">
                            <span class="filter__check"></span>
                            Оранжевый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Желтый">
                            <span class="filter__check"></span>
                            Желтый
                        </label>
                    </li>
                    <li class="filter__item">
                        <label class="filter__label">
                            <input type="checkbox" class="filter__input" name="Зеленый">
                            <span class="filter__check"></span>
                            Зеленый
                        </label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="catalog__banner">
        <img src="./images/banner-catalog-1920.jpg" alt="Новая коллекция кресел Оксфорд 1950">
        <div class="catalog__banner-block">
            <h2 class="catalog__banner-title">Оксфорд 1950</h2>
            <p class="catalog__banner-desc">Новая коллекция изысканных кресел</p>
            <a class="catalog__banner-link" href="catalog.html">В каталог</a>
        </div>
    </div>
</aside>