<div class="goods__grid">
    <div class="goods__item" id="R-94">
        <div class="goods__rating">5,0</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-R94.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-R94.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-R94.webp" alt="Диван кожаный R-94">
        </picture>
        <h3 class="goods__item-title">Диван кожаный</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “R-94”
        </h3>
        <div class="goods__price">94 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="T-75">
        <div class="goods__rating">4,9</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-T75.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-T75.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-T75.webp" alt="Диван апартековый T-75">
        </picture>
        <h3 class="goods__item-title">Диван апартековый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “T-75”
        </h3>
        <div class="goods__price">69 999 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="D-31">
        <div class="goods__rating">4,8</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-D31.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-D31.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-D31.webp" alt="Диван тканевый D-31">
        </picture>
        <h3 class="goods__item-title">Диван тканевый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “D-31”
        </h3>
        <div class="goods__price">28 490 руб</div>
        <a href="product.html" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="Y-68">
        <div class="goods__rating">4,8</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-Y68.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-Y68.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-Y68.webp" alt="Диван велюровый Y-68">
        </picture>
        <h3 class="goods__item-title">Диван велюровый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “Y-68”
        </h3>
        <div class="goods__price">22 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="W-95">
        <div class="goods__rating">4,8</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-W95.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-W95.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-W95.webp" alt="Диван из шинила W-95">
        </picture>
        <h3 class="goods__item-title">Диван из шинила</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “W-95”
        </h3>
        <div class="goods__price">22 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="G-41">
        <div class="goods__rating">4,8</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-G41.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-G41.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-G41.webp" alt="Диван флоковый G-41">
        </picture>
        <h3 class="goods__item-title">Диван флоковый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “G-41”
        </h3>
        <div class="goods__price">17 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="V-43">
        <div class="goods__rating">4,8</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-V43.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-V43.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-V43.webp" alt="Диван шиниловый V-43">
        </picture>
        <h3 class="goods__item-title">Диван шиниловый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “V-43”
        </h3>
        <div class="goods__price">19 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="S-99">
        <div class="goods__rating">4,7</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-S99.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-S99.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-S99.webp" alt="Диван велюровый S-99">
        </picture>
        <h3 class="goods__item-title">Диван велюровый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “S-99”
        </h3>
        <div class="goods__price">19 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="F-85">
        <div class="goods__rating">4,7</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-F85.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-F85.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-F85.webp" alt="Диван из кожзама F-85">
        </picture>
        <h3 class="goods__item-title">Диван из кожзама</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “F-85”
        </h3>
        <div class="goods__price">26 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="H-64">
        <div class="goods__rating">4,6</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-H64.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-H64.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-H64.webp" alt="Диван флоковый H-64">
        </picture>
        <h3 class="goods__item-title">Диван флоковый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “H-64”
        </h3>
        <div class="goods__price">25 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="H-58">
        <div class="goods__rating">4,6</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-H58.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-H58.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-H58.webp" alt="Диван флоковый H-58">
        </picture>
        <h3 class="goods__item-title">Диван флоковый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “H-58”
        </h3>
        <div class="goods__price">23 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="R-43">
        <div class="goods__rating">4,6</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-R43.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-R43.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-R43.webp" alt="Диван из кожзама R-43">
        </picture>
        <h3 class="goods__item-title">Диван из кожзама</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “R-43”
        </h3>
        <div class="goods__price">33 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="C-42">
        <div class="goods__rating">4,6</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-C42.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-C42.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-C42.webp" alt="Диван из шинила C-42">
        </picture>
        <h3 class="goods__item-title">Диван из шинила</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “C-42”
        </h3>
        <div class="goods__price">18 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="U-58">
        <div class="goods__rating">4,6</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-U58.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-U58.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-U58.webp" alt="Диван велюровый U-58">
        </picture>
        <h3 class="goods__item-title">Диван велюровый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “U-58”
        </h3>
        <div class="goods__price">21 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="F-41">
        <div class="goods__rating">4,5</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-F41.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-F41.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-F41.webp" alt="Диван флоковый F-41">
        </picture>
        <h3 class="goods__item-title">Диван флоковый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “F-41”
        </h3>
        <div class="goods__price">17 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="R-85">
        <div class="goods__rating">4,5</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-R85.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-R85.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-R85.webp" alt="Диван велюровый R-85">
        </picture>
        <h3 class="goods__item-title">Диван велюровый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “R-85”
        </h3>
        <div class="goods__price">34 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="S-44">
        <div class="goods__rating">4,5</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-S44.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-S44.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-S44.webp" alt="Диван велюровый S-44">
        </picture>
        <h3 class="goods__item-title">Диван велюровый</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “S-44”
        </h3>
        <div class="goods__price">19 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
    <div class="goods__item" id="C-80">
        <div class="goods__rating">4,4</div>
        <picture>
            <source type="image/webp" srcset="./images/sofa-320-C80.webp" media="(max-width: 380px)" />
            <source type="image/png" srcset="./images/sofa-320-C80.png" media="(max-width: 380px)" />
            <img class="goods__img" src="./images/sofa-1920-C80.webp" alt="Диван из шинила C80">
        </picture>
        <h3 class="goods__item-title">Диван из шинила</h3>
        <h3 class="goods__item-title goods__item-title_partNumber">
            “C-80”
        </h3>
        <div class="goods__price">20 990 руб</div>
        <a href="#" class="goods__btn">Купить</a>
    </div>
</div>