<header class="header">
    <h1 class="header__title hidden">Магазин мебели SitDownPls</h1>
    <div class="header__top">
        <div class="container header__flex header__grid">
            <div class="header__block-logo">
                <a class="header__logo-link" href="index.html">
                    <img class="header__logo" src="./images/svg/logo.svg" alt="Логотип компании SitDownPls">
                </a>
            </div>
            <div class="header__contact">
                <div class="header__select">
                    <span class="header__choice-title">Ваш&nbsp;регион:</span>
                    <div class="header__choice itc-select" id="select-1"></div>
                </div>
                <a class="header__phone" href="tel:+74958854547">+7 (495) 885-45-47</a>
            </div>
            <div class="header__about">
                <ul class="header__list">
                    <li class="header__item">
                        <a class="header__link-about" href="#">О компании</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link-about" href="#">Гарантия и возврат</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link-about" href="#">Корпоративным клиентам</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link-about" href="#">Дизайн-решение</a>
                    </li>
                </ul>
            </div>
            <div class="header__account">
                <button class="header__user"></button>
                <button class="header__shopping-cart"></button>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container header__flex header__grid">
            <button class="header__burger" aria-label="Меню"></button>
            <div class="header__burger-menu">
                <button class="header__burger-cls" aria-label="Закрыть меню"></button>
                <nav class="header__nav">
                    <ul class="header__menu">
                        <li class="header__menu-item">
                            <a class="header__link" href="catalog.html">Каталог</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__link" href="#">Магазины</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__link" href="#">Шоу-рум</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__link" href="#">Доставка и оплата</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__link" href="#">Дисконт</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__about">
                    <ul class="header__list">
                        <li class="header__item">
                            <a class="header__link-about" href="#">О компании</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link-about" href="#">Гарантия и возврат</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link-about" href="#">Корпоративным клиентам</a>
                        </li>
                        <li class="header__item">
                            <a class="header__link-about" href="#">Дизайн-решение</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="header__logo-link" href="index.html">
                <img class="header__logo" src="./images/svg/logo.svg" alt="Логотип компании SitDownPls">
            </a>
            <div class="header__account">
                <button class="header__user" aria-label="Личный кабинет"></button>
                <button class="header__shopping-cart" aria-label="Корзина товаров"></button>
            </div>
            <nav class="header__nav">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a class="header__link" href="catalog.html">Каталог</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__link" href="#">Магазины</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__link" href="#">Шоу-рум</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__link" href="#">Доставка и оплата</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__link" href="#">Дисконт</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container header__flex header__grid">
            <div class="header__search search">
                <form class="search__form" method="post">
                    <div class="search__block">
                        <input class="search__input" id="search" type="text" name="search"
                            placeholder="Я хочу купить..." aria-label="Строка поиска">
                        <button class="search__btn" type="submit" aria-label="Поиск"></button>
                    </div>
                    <div class="header__choice search__choice itc-select" id="select-2">
                        <button class="itc-select__toggle" data-index="-1" data-select="toggle" type="button"
                            name="category" value>
                            Категория
                        </button>
                        <div class="itc-select__dropdown">
                            <ul class="itc-select__options">
                                <li class="itc-select__option" data-index="0" data-select="option" data-value="Диваны">
                                    Диваны
                                </li>
                                <li class="itc-select__option" data-index="1" data-select="option" data-value="Кресла">
                                    Кресла
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Пуфы">
                                    Пуфы
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Кровати">
                                    Кровати
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Тумбы">
                                    Тумбы
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Комоды">
                                    Комоды
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Стулья">
                                    Стулья
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option" data-value="Столы">
                                    Столы
                                </li>
                                <li class="itc-select__option" data-index="2" data-select="option"
                                    data-value="Аксессуары">
                                    Аксессуары
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="header__account">
                <button class="header__user" aria-label="Личный кабинет"></button>
                <button class="header__shopping-cart" aria-label="Корзина товаров"></button>
            </div>
        </div>
    </div>
</header>