<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/svg/favicon.svg" rel="shortcut icon" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js" defer></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js" defer></script>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="stylesheet">
    <link href="fonts/opensans-bold-webfont.woff" rel="preload" as="font" type="font/woff" crossorigin>
    <link href="fonts/opensans-bold-webfont.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="fonts/opensans-regular-webfont.woff" rel="preload" as="font" type="font/woff" crossorigin>
    <link href="fonts/opensans-regular-webfont.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="fonts/opensans-semibold-webfont.woff" rel="preload" as="font" type="font/woff" crossorigin>
    <link href="fonts/opensans-semibold-webfont.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="fonts/playfairdisplay-black-webfont.woff" rel="preload" as="font" type="font/woff" crossorigin>
    <link href="fonts/playfairdisplay-black-webfont.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="main.css" rel="stylesheet">
    <script src="app.js" defer></script>
    <title>SitDownPls</title>
</head>