<section class="hero">
    <div class="swiper hero__swiper" id="swiper1">
        <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide hero__slide_1">
                <div class="container hero__container">
                    <h3 class="hero__title">
                        Скидка&nbsp;15% на&nbsp;первую покупку
                    </h3>
                    <button class="hero__btn">Получить!</button>
                </div>
            </div>
            <div class="swiper-slide hero__slide hero__slide_2">
                <div class="container hero__container">
                    <h3 class="hero__title">1000+ аксессуаров для дома</h3>
                    <button class="hero__btn">Подробнее</button>
                </div>
            </div>
            <div class="swiper-slide hero__slide hero__slide_3">
                <div class="container hero__container">
                    <h3 class="hero__title">
                        Коллекция стильного и яркого текстиля
                    </h3>
                    <button class="hero__btn">Подробнее!</button>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>