<div class="product__slider-thumbs">
    <div class="swiper product__swiper-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-main.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-1.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-2.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-3.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-4.webp" alt="Диван тканевый D31"/>
            </div>
        </div>
    </div>
    <div class="swiper product__swiper-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-main.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-1.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-2.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-3.webp" alt="Диван тканевый D31"/>
            </div>
            <div class="swiper-slide">
                <img src="./images/card-1920-sofa-D31-prew-4.webp" alt="Диван тканевый D31"/>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>   
    </div>
</div>
