<section class="sales" id="sales">
    <div class="container sales__container">
        <h2 class="sales__title">Специальные предложения</h2>
        <div class="swiper sales__swiper" id="swiper2">
            <div class="swiper-wrapper sales__wrapper">
                <div class="swiper-slide sales__slide sales__slide_1">
                    <div class="sales__item" id="X-24">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -9 000 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-X24.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-X24.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-X24.webp" alt="Кресло велюровое X-24">
                        </picture>
                        <h3 class="sales__item-title">Кресло велюровое</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “X-24”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">15 990 руб</div>
                            <div class="sales__price">24 990 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
                <div class="swiper-slide sales__slide sales__slide_2">
                    <div class="sales__item" id="Z-44">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -10 000 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-Z44.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-Z44.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-Z44.webp" alt="Диван тканевый Z-44">
                        </picture>
                        <h3 class="sales__item-title">Диван тканевый</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “Z-44”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">22 990 руб</div>
                            <div class="sales__price">32 990 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
                <div class="swiper-slide sales__slide sales__slide_3">
                    <div class="sales__item" id="Quartz-23">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -600 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-Qyartz23.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-Qyartz23.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-Qyartz23.webp" alt="Будильник Quartz-23">
                        </picture>
                        <h3 class="sales__item-title">Будильник</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “Quartz-23”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">1 290 руб</div>
                            <div class="sales__price">1 890 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
                <div class="swiper-slide sales__slide sales__slide_4">
                    <div class="sales__item" id="Oh_my_deer">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -300 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-Dear.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-Dear.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-Dear.webp" alt="Мини-скульптура Oh my deer">
                        </picture>
                        <h3 class="sales__item-title">Мини-скульптура</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “Oh my deer”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">690 руб</div>
                            <div class="sales__price">990 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
                <div class="swiper-slide sales__slide sales__slide_5">
                    <div class="sales__item" id="Z-85">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -10 000 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-Z85.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-Z85.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-Z85.webp" alt="Диван вел-флок Z-85">
                        </picture>
                        <h3 class="sales__item-title">Диван вел-флок</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “Z-85”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">22 990 руб</div>
                            <div class="sales__price">32 990 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
                <div class="swiper-slide sales__slide sales__slide_6">
                    <div class="sales__item" id="H-18">
                        <div class="sales__sale">
                            <span class="sales__sale-price"> -700 </span>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="./images/special-320-H18.webp" media="(max-width: 520px)" />
                            <source type="image/png" srcset="./images/special-320-H18.png" media="(max-width: 520px)" />
                            <img class="sales__img" src="./images/special-1920-H18.webp" alt="Термометр H-18">
                        </picture>
                        <h3 class="sales__item-title">Термометр</h3>
                        <h3 class="sales__item-title sales__item-title_partNumber">
                            “H-18”
                        </h3>
                        <div class="sales__block-price">
                            <div class="sales__new-price">1 390 руб</div>
                            <div class="sales__price">2 090 руб</div>
                        </div>
                        <button class="sales__btn">Купить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sales__btn-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>