<section class="top-category" id="top-category">
    <div class="container">
        <h2 class="top-category__title">Топ категории</h2>
        <div class="top-category__grid">
            <div class="top-category__item top-category__item_sofa">
                <div class="top-category__sub-group">
                    <div class="top-category__subtitle">Прямые</div>
                    <div class="top-category__subtitle">Угловые</div>
                    <div class="top-category__subtitle">Модульные</div>
                </div>
                <div class="top-category__block">
                    <h3 class="top-category__item-title">Диваны</h3>
                    <a class="top-category__link top-category__link_mobile" href="#"></a>
                </div>
                <div class="top-category__img"></div>
                <a class="top-category__link" href="catalog.html">В каталог</a>
            </div>
            <div class="top-category__item top-category__item_armchair">
                <div class="top-category__sub-group">
                    <div class="top-category__subtitle">Мягкие</div>
                    <div class="top-category__subtitle">Кресла-кровати</div>
                </div>
                <div class="top-category__block">
                    <h3 class="top-category__item-title">Кресла</h3>
                    <a class="top-category__link top-category__link_mobile" href="#"></a>
                </div>
                <div class="top-category__img"></div>
                <a class="top-category__link" href="catalog.html">В каталог</a>
            </div>
            <div class="top-category__item top-category__item_bed">
                <div class="top-category__sub-group">
                    <div class="top-category__subtitle">Односпальные</div>
                    <div class="top-category__subtitle">Двуспальные</div>
                </div>
                <div class="top-category__block">
                    <h3 class="top-category__item-title">Кровати</h3>
                    <a class="top-category__link top-category__link_mobile" href="#"></a>
                </div>
                <div class="top-category__img"></div>
                <a class="top-category__link" href="catalog.html">В каталог</a>
            </div>
            <div class="top-category__item top-category__item_dresser">
                <div class="top-category__sub-group">
                    <div class="top-category__subtitle">Тумбы</div>
                    <div class="top-category__subtitle">Комоды</div>
                </div>
                <div class="top-category__block">
                    <h3 class="top-category__item-title">Тумбы и&nbsp;комоды</h3>
                    <a class="top-category__link top-category__link_mobile" href="#"></a>
                </div>
                <div class="top-category__img"></div>
                <a class="top-category__link" href="catalog.html">В каталог</a>
            </div>
            <div class="top-category__item top-category__item_chair">
                <div class="top-category__sub-group">
                    <div class="top-category__subtitle">Деревянные</div>
                    <div class="top-category__subtitle">Металлокаркас</div>
                </div>
                <div class="top-category__block">
                    <h3 class="top-category__item-title">Стулья</h3>
                    <a class="top-category__link top-category__link_mobile" href="#"></a>
                </div>
                <div class="top-category__img"></div>
                <a class="top-category__link" href="catalog.html">В каталог</a>
            </div>
        </div>
    </div>
</section>